{{template "base" .}}

{{define "main"}}
<h1>Home</h1>
<p>pnr.sh allows you to dive into your airline reservation and see information that is not normally displayed on the website. pnr.sh uses the existing, public interfaces used by airline mobile apps to show you this information and put you in control.</p>
<h2>Choose an airline</h2>
<p>Choose an airline to get started. <span class="badge bg-success">Badges</span> show if the indicated information is available from the carrier.</p>
<div class="list-group">
    <a href="/aeromexico" class="list-group-item list-group-item-action">Aeromexico <span class="badge bg-success">Flight Segments</span> <span class="badge bg-success">Action Codes</span> <span class="badge bg-success">Remarks</span> <span class="badge bg-success">Tickets</span></a>
    <a href="/aircanada" class="list-group-item list-group-item-action">Air Canada <span class="badge bg-success">Flight Segments</span> <span class="badge bg-success">Action Codes</span> <span class="badge bg-secondary">Remarks</span> <span class="badge bg-success">Tickets</span></a>
    <a href="/delta" class="list-group-item list-group-item-action">Delta Air Lines <span class="badge bg-success">Flight Segments</span> <span class="badge bg-success">Action Codes</span> <span class="badge bg-secondary">Remarks</span> <span class="badge bg-success">Tickets</span></a>
    <a href="/united" class="list-group-item list-group-item-action">United <span class="badge bg-success">Flight Segments</span> <span class="badge bg-success">Action Codes</span> <span class="badge bg-success">Remarks</span> <span class="badge bg-success">Tickets</span></a>
    <a href="/virgin" class="list-group-item list-group-item-action">Virgin Atlantic <span class="badge bg-success">Flight Segments</span> <span class="badge bg-success">Action Codes</span> <span class="badge bg-success">Remarks</span> <span class="badge bg-success">Tickets</span></a>
</div>
<br />
{{if .CommitHash}}
<div class="alert alert-primary" role="alert">
    <strong>New!</strong> View award availability for Avianca LifeMiles with <a href="https://awards.pnr.sh">awards.pnr.sh</a>.
</div>
{{end}}
<br />
{{end}}