{{template "base" .}}

{{define "main"}}
<div class="container">
    <h2>Confirmation #{{.ConfirmationCode}}</h2>
    <hr />

    <div class="row">
      <div class="col">
        <h3>Flights</h3>
        {{range .PNR.Flights}}
            <h5><strong>{{.MarketingAirlineCode}}{{.FlightNumber}}</strong> {{.OriginAirportCode}} ✈️ {{.DestinationAirportCode}} <span class="badge bg-primary">{{.CurrentActionCode}}</span></h5>
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>Status</strong></td>
                        <td>{{.Status}}</td>
                    </tr>

                    <tr>
                        <td><strong>Scheduled Departure</strong></td>
                        <td>{{.ScheduledDeparture}}</td>
                    </tr>

                    <tr>
                        <td><strong>Scheduled Arrival</strong></td>
                        <td>{{.ScheduledArrival}}</td>
                    </tr>

                    <tr>
                        <td><strong>Operating/Marketing Airline</strong></td>
                        <td>{{.OperatingAirlineCode}}/{{.MarketingAirlineCode}}</td>
                    </tr>

                    <tr>
                        <td><strong>Current Action Code</strong></td>
                        <td>{{.CurrentActionCode}}</td>
                    </tr>

                    <tr>
                        <td><strong>Class of Service</strong></td>
                        <td>{{.ClassOfService}} ({{.Cabin}})</td>
                    </tr>
                </tbody>
            </table>
        {{end}}
      </div>
      <div class="col">
        <h3>Remarks</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Seq</td>
                    <th scope="col">Remark</td>
                </tr>
            </thead>
            <tbody>
            {{range .PNR.Remarks}}
                <tr>
                    <td><strong>{{.DisplaySequence}}</strong></td>
                    <td>{{.Description}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>
        <br />

        <h3>Passengers</h3>
        {{range .PNR.Passengers}}
            <div class="card">
                <div class="card-body">
                    <h5>{{.Name}} <span class="badge bg-primary">{{.Status}}</span></h5>
                    <table class="table table-sm">
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <br />
        {{end}}
      </div>
    </div>
  </div>
{{end}}
